<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:fragment="header_fragment">
        <link rel="shortcut icon" th:href="@{/web_asset/images/favicon.ico}" type="image/x-icon">
        <link rel="apple-touch-icon" th:href="@{/web_asset/images/apple-touch-icon.png}">
        <link rel="stylesheet" th:href="@{/web_asset/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/web_asset/css/style.css}">
        <link rel="stylesheet" th:href="@{/web_asset/css/responsive.css}">
        <link rel="stylesheet" th:href="@{/web_asset/css/custom.css}">
        <link rel="stylesheet" th:href="@{/web_asset/css/web.css}">
<!--        <script th:src="@{/web/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>-->
<!--        <script th:src="@{/web/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>-->
    </th:block>
</head>
<body>

<div th:replace="common/web/header::header"></div>
<div layout:fragment="content"></div>
<div th:replace="common/web/footer::footer"></div>

<th:block th:fragment="script_fragment">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

    <script th:src="@{/web_asset/js/jquery.superslides.min.js}"></script>
    <script th:src="@{/web_asset/js/images-loded.min.js}"></script>
    <script th:src="@{/web_asset/js/isotope.min.js}"></script>
    <script th:src="@{/web_asset/js/baguetteBox.min.js}"></script>
<!--    <script th:src="@{/web_asset/js/form-validator.min.js}"></script>-->
<!--    <script th:src="@{/web_asset/js/contact-form-webpageBookingScript.js}"></script>-->
    <script th:src="@{/web_asset/js/custom.js}"></script>

</th:block>
<th:block th:fragment="myScript_fragment">
    <script th:src="@{/web_asset/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/web_asset/js/bootstrap.min.js}"></script>


    <script type="text/javascript"  th:src="@{/sweetalert/sweetalert2.min.js}"></script>
    <script type="text/javascript"  th:src="@{/myFile/sweetAlert.js}"></script>
    <script type="text/javascript" th:src="@{/paging/jquery.twbsPagination.js}" ></script>
</th:block>

</body>
</html>